# ignore settings so we don't accidentally commit an API key
settings.cfg
*.pyc
# other files, we don't need
*~
.directory
*.wpr
*.wpu
*.bak
.project
.pydevproject
MANIFEST
dist
build
*.egg-info/
__pycache__/
.pytest_cache/
venv/
# Sphinx documentation build output
docs/_build/
